.App {
  text-align: center;
  display: flex;
  justify-content: center;

}

*{
  box-sizing: border-box;
}


.heading{
   padding: 2%; 
  background-image: linear-gradient(rgb(247, 170, 27),rgb(243, 45, 45));
 height: 100px;

 background-origin: content-box;
}
.form{width: 500px;
  flex-direction: column;
  align-items: center;
 padding-bottom: 10px;
  margin: 10px;
  border: 1px solid;
  box-shadow: 0 4px 7px 0 rgba(42, 43, 44, 0.6);

  
}
.input{
  /* padding: 10px;
  margin: 10px; */

}
.input input{padding: 10px;
  outline-style: none;
  border:1px;
  border-bottom: 2px solid;
  border-left: none;
  border-right: none;
  width: 300px;
  margin: 20px;

}
button{
  padding: 10px 20px;border-radius: 10px;
  outline-style: none;
  box-shadow: 0 4px 7px 0 rgba(7, 7, 7, 0.6);
  

}
.detail{
  width:50%;
  padding: 20px;
  margin: 10px;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}


/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  /* background: #eee; */
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
/* ul li:nth-child(odd) {
  background: #f9f9f9;
} */

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li {
  /* background: #888; */
  color: rgb(17, 16, 16);
  /* text-decoration: line-through; */
}

/* Add a "checked" mark when clicked on */
ul li::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}



